.assign-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.assign-box {
  width: 30%;
  height: 8em;
  margin: 10px;
  background-color: aqua;
}

@media screen and (max-width: 850px) {
  .assign-box {
      width: 45%;
  }
}

@media screen and (max-width: 480px) {
  .assign-box {
      width: 90%;
  }
}